{
  "singleQuote": false,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^./",
    "^../",
    "^@hooks",
    "^@layout",
    "^@ui",
    "^@icons",
    "^@screens",
    "^@providers",
    "module.scss$"
  ],
  "importOrderSeparation": true
}
