.uploadMedia{
    input{
        display: none;
    }
    label{
        background-color: aliceblue;
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 1000px;
    }
}