.wrapper {
  @apply flex gap-5 pt-5 text-gray lg:pb-7 pb-3 ;
}

.links {
  @apply flex items-center gap-5;
  @media (min-width: 700px) {
    @apply gap-12;
  }
}

.icons {
  @apply flex flex-1 w-full h-full justify-end items-center gap-5;
  @media (min-width: 700px) {
    @apply gap-12;
  }
}

.link {
  &:hover {
    transition: 1s;
    color: #e58d27
  }
  white-space: nowrap;
}

.icon {
  @apply w-9;
  stroke: #909090;
  fill: #909090;
  @media (max-width: 840px) {
    @apply w-6;
  }

  &:hover {
    transition: 1s;
    cursor: pointer;
    stroke: #e58d27;
    fill: #e58d27;
  }
}

.avatar {
  @apply w-16 h-16 lg:w-24 lg:h-24 ;
}

.burger {
  @media (min-width: 840px) {
    display: none;
  }
  &:hover{
    cursor:pointer;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 16px;

  &:after,&:before {
    content: "";
    height: 2px;
    border-radius: 10px;
    display: block;
    background: #909090;
  }

  >span {
    height: 2px;
    border-radius: 10px;
    display: block;
    background: #909090;
    gap: 10px;
  }
}
