.profile{
    @apply gap-5 lg:gap-10;
    font-family: monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    >div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &:first-child{
            flex: 1 1 400px;
        }
        >div{
            @apply flex gap-4 flex-col; 
        }
        &:last-child{
            flex: 0 1 400px;
        }
    }
    &__info{

    }
    &__fields{
        display: flex;
        flex-direction: column;
    }
    input{
        outline: none;
        @apply bg-transparent px-4 py-2;
    }
}