@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    @apply text-sm md:text-base;
}

h1,h2,h3,h4,h5,h6{
    @apply text-gray font-medium;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem;
}

p{
    @apply text-gray;
}